# --- BANCO DE DADOS ---
# Exemplo PostgreSQL: postgresql://usuario:senha@localhost:5432/nome_do_banco
# Exemplo MySQL: mysql+pymysql://usuario:senha@localhost:3306/nome_do_banco
# Exemplo SQLite: sqlite:///./dados.db
DATABASE_URI=protocolo://usuario:senha@host:porta/database
SECRET_KEY=senhasecreta123
