* {
    color: #fff;
    font-family: "Roboto", sans-serif;
}

body {
    background: #1a1a1a; /* Fundo escuro */
    color: #fff;
    font-family: "Roboto", sans-serif;
}

.brand-font {
    font-family: "Bangers", cursive;
    color: #ffc107;
    font-size: 3rem;
}

.card {
    background: #2d2d2d;
    border: 1px solid #444;
    border-radius: 15px;
}
.btn-warning {
    font-weight: bold;
    text-transform: uppercase;
}
.toggle-link {
    color: #ffc107;
    cursor: pointer;
    text-decoration: none;
}
.hidden {
    display: none;
}
