* {
  color: #fff;
  font-family: "Roboto", sans-serif;
}

body {
  background: #1a1a1a; /* Fundo escuro */
  color: #fff;
  font-family: "Roboto", sans-serif;
}

.brand-font {
  font-family: "Bangers", cursive;
  color: #ffc107;
  font-size: 3rem;
}

.card {
  background: #2d2d2d;
  border: 1px solid #444;
  border-radius: 15px;
}
.btn-warning {
  font-weight: bold;
  text-transform: uppercase;
}
.toggle-link {
  color: #ffc107;
  cursor: pointer;
  text-decoration: none;
}
.hidden {
  display: none;
}

/* Efeitos para o card de produto */
.product-card {
  transition:
    transform 0.3s ease,
    box-shadow 0.3s ease;
}

.product-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5) !important;
  border-color: #ffc107;
}

/* Forçar a cor do texto padrão dentro dos cards escuros para não sumirem */
.product-card p {
  color: #ccc;
}

/* Ajustes no Offcanvas (Carrinho) para o tema dark */
.offcanvas {
  color: #fff;
}

.cart-item h6 {
  color: #fff;
}

/* Padronização de botões outline */
.btn-outline-warning {
  color: #ffc107;
  border-color: #ffc107;
  font-weight: bold;
  text-transform: uppercase;
}

.btn-outline-warning:hover {
  color: #000; /* Texto preto quando o botão amarelo é hover */
  background-color: #ffc107;
}
