<!doctype html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Burger Tech | Login</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Bangers&family=Roboto:wght@400;700&display=swap"
      rel="stylesheet"
    />
    <link
      href="{{ url_for('static', filename='css/site.css') }}"
      rel="stylesheet"
    />
  </head>

  <body>
    <div
      class="container d-flex justify-content-center align-items-center vh-100"
    >
      <div class="card p-4 shadow-lg" style="width: 100%; max-width: 400px">
        <div class="text-center mb-4">
          <h1 class="brand-font">BURGER TECH</h1>
          <p class="small">O melhor bit da sua fome</p>
        </div>

        <!-- formulario login-->
        <div id="login-form">

        {% if erro %}
        <div class="alert alert-danger text-center p-2 mb-3" role="alert">
          {{ erro }}
        </div>

        {% endif %}
          <h4 class="text-center mb-3">Bem-vindo de volta!</h4>
          <form action="/login" method="POST">
            <div class="mb-3">
              <label class="form-label">E-mail</label>
              <input
                value="{{email}}"
                type="email"
                name="email"
                class="form-control bg-dark text-white border-secondary"
                required
              />
            </div>
            <div class="mb-3">
              <label class="form-label" for="senha">Senha</label>
              <input
                type="password"
                value="{{senha}}"
                name="senha"
                id="senha"
                class="form-control bg-dark text-white border-secondary"
                required
              />
            </div>
            <button type="submit" class="btn btn-warning w-100 mb-3">
              Entrar
            </button>
          </form>
          <p class="text-center small">
            Não tem conta?
            <span class="toggle-link" onclick="toggleForms()"
              >Cadastre-se aqui</span
            >
          </p>
        </div>

        <!-- formulario cadastro-->
        <div id="register-form" class="hidden">
          <h4 class="text-center mb-3">Crie sua conta</h4>
          <form action="/cadastro" method="POST">
            <div class="mb-3">
              <label class="form-label" for="nome">Nome Completo</label>
              <input
                type="text"
                name="nome"
                id="nome"
                class="form-control bg-dark text-white border-secondary"
                required
              />
            </div>
            <div class="mb-3">
              <label class="form-label" for="email">E-mail</label>
              <input
                type="email"
                name="email"
                id="email"
                class="form-control bg-dark text-white border-secondary"
                required
              />
            </div>
            <div class="mb-3">
              <label class="form-label" for="senha">Senha</label>
              <input
                type="password"
                name="senha"
                id="senha"
                class="form-control bg-dark text-white border-secondary"
                required
              />
            </div>
            <button type="submit" class="btn btn-warning w-100 mb-3">
              Finalizar Cadastro
            </button>
          </form>
          <p class="text-center small">
            Já é de casa?
            <span class="toggle-link" onclick="toggleForms()">Fazer Login</span>
          </p>
        </div>
      </div>
    </div>

    <script>
      function toggleForms() {
        document.getElementById("login-form").classList.toggle("hidden");
        document.getElementById("register-form").classList.toggle("hidden");
      }
    </script>
  </body>
</html>
